@using MessagingProject.Models.Auth
@model LoginViewModel
@{
    Layout = "_AuthLayout";
    ViewData["Title"] = "Lock Screen";

    var claims = ViewBag.Claims as Dictionary<string, string> ?? new Dictionary<string, string>();

    var lastName = claims.ContainsKey("LastName") && !string.IsNullOrEmpty(claims["LastName"])
        ? claims["LastName"].Substring(0, 1)
        : string.Empty;

    var firstName = claims.ContainsKey("FirstName") && !string.IsNullOrEmpty(claims["FirstName"])
        ? claims["FirstName"].Substring(0, 1)
        : string.Empty;

    var firstTwoLetters = $"{lastName}{firstName}";
}


<div class="container p-5">
    <div class="row px-4">
        <div class="col-md-12 ms-1 me-1 px-3 sm:mx-2">
            <h2>@MessagingProject.Resources.Resource.LockScreen</h2>
            <span>@MessagingProject.Resources.Resource.PasswordEnter</span>
            <div class="col-12 d-flex flex-column justify-content-center align-items-center py-1">
            <div class="circle">@firstTwoLetters</div>

                <span style="font-size:1.3em; color:dimgrey">
                    @(claims.ContainsKey("LastName") ? claims["LastName"] : "")
                    @(claims.ContainsKey("FirstName") ? claims["FirstName"] : "")
                </span>

            </div>
            <form asp-action="LoginUser" >
                <input type="hidden" name="Email" class="form-control" value="@ViewBag.Email" asp-for="Email" />
                
                <div class="form-group my-2">
                    <label>@MessagingProject.Resources.Resource.Password</label>
                    <input type="password" name="Password" class="form-control" asp-for="Password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group my-3">
                    <button type="submit" name="submit" class="btn btn-primary" style="width:100% !important">@MessagingProject.Resources.Resource.Send</button>
                </div>
                <div class="d-flex justify-content-between align-items-center w-100">
                    <div class="dropdown">
                        <a class="btn btn-no-bg dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            @switch (Thread.CurrentThread.CurrentCulture.ToString())
                            {
                                case "en":
                                    <span>EN</span>
                                    break;
                                case "ru":
                                    <span>RU</span>
                                    break;
                                case "ro":
                                    <span>RO</span>
                                    break;
                            }
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item d-flex align-items-center" asp-controller="User" asp-action="ChangeLanguage" asp-route-language="ru"><img src="~/img/lang/ru.png" width="20" class="me-2"> Русский</a></li>
                            <li><a class="dropdown-item d-flex align-items-center" asp-controller="User" asp-action="ChangeLanguage" asp-route-language="en"><img src="~/img/lang/eng.png" width="20" class="me-2"> English</a></li>
                            <li><a class="dropdown-item d-flex align-items-center" asp-controller="User" asp-action="ChangeLanguage" asp-route-language="ro"><img src="~/img/lang/ro.webp" width="20" class="me-2"> Romana</a></li>
                        </ul>
                    </div>
                    <p class="d-block m-0"><a href="/AuthRecoverPassword" class="text-decoration-none label">@MessagingProject.Resources.Resource.Forgot</a></p>
                </div>
                
            </form>

           

        </div>
        <div class="col-12 d-flex py-2">
            <span class="text text-center">@MessagingProject.Resources.Resource.Accout <a href="/Login" style="text-decoration:none;">@MessagingProject.Resources.Resource.Authorization</a></span>
        </div>

    </div>
    
</div>
