@{
    ViewData["Title"] = "SMS";
    Layout = "_Layout";
    var date = DateTime.UtcNow;
    string formattedDate = date.ToString("dd-MM-yyyy");
}

<div class="container-fluid py-0 md-py-0">
    <div class="row mx-5 px-5">
        <div class="col-12 col-md-10 p-0" style="background:none;border:0px;">
            <h1 style="font-weight:600;">@MessagingProject.Resources.Resource.CreateSMSNewsLetter</h1>
        </div>

        <div class="col-12 d-flex flex-wrap">
            <!-- Form -->
            <div class="col-6 bg-white p-4">
                <form onsubmit="event.preventDefault();">
                    <!-- Newsletter Title -->
                    <div class="mb-3">
                        <label class="form-label">@MessagingProject.Resources.Resource.SMSNewsLetter</label>
                        <input type="text" class="form-control"  id="sendName">
                        <span class="text-danger error-message" id="error-sendName"></span>
                    </div>

                    <!-- Description Title -->
                    <div class="mb-3">
                        <label class="form-label">@MessagingProject.Resources.Resource.Description</label>
                        <input type="text" class="form-control" id="description" value="">
                        <span class="text-danger error-message" id="error-description"></span>
                    </div>

                    <!-- Message -->
                    <div class="mb-3">
                        <label for="smsMessage" class="form-label">@MessagingProject.Resources.Resource.Message</label>
                        <textarea class="form-control" id="smsMessage" rows="4" style="resize: none; height: 10em; overflow-y: auto;"></textarea>

                    </div>

                    <!-- Counters -->
                    <div class="row mb-0 text-nowrap">
                        <!-- Characters -->
                        <div class="col-12 col-md-4 d-flex justify-content-between align-items-center mb-1">
                            <span class="label-text">@MessagingProject.Resources.Resource.CharactersAllowed:</span>
                            <span id="sms-max" class="sms-counter ms-2">160</span>
                        </div>

                        <!-- Counter -->
                        <div class="col-12 col-md-4 d-flex justify-content-between align-items-center mb-1">
                            <span class="label-text">@MessagingProject.Resources.Resource.CharactersUsed:</span>
                            <span id="sms-symbols-counter" class="sms-counter">0/160</span>
                        </div>

                        <!-- SMS -->
                        <div class="col-12 col-md-4 d-flex justify-content-between align-items-center mb-1">
                            <span class="label-text">@MessagingProject.Resources.Resource.SmsNumber:</span>
                            <span id="sms-count" class="sms-counter">1</span>
                        </div>
                    </div>
                    <!-- Alert text / Validation text -->
                    <span class="sms-counter over-limit my-0" id="smsCountSpan" style="display:none;"></span>
                    <span class="text-danger error-message" id="error-messageSms"></span>


                    <!-- Alias Name Dropdown -->
                    <div class="mb-3 my-3">
                        <label class="form-label">Alias</label>
                        <select id="aliasName" class="form-select" style="width: 100%; height:auto;"></select>
                        <span class="text-danger error-message" id="error-aliasName"></span>
                        <input type="hidden" id="aliasBody" name="aliasBody" />
                    </div>

                    <!-- Contact List -->
                    <div class="col-12 mb-3">
                        <label for="multi-select">@MessagingProject.Resources.Resource.Contats</label>
                        <div class="email-wrapper">
                            <select id="multi-select" multiple="multiple" style="width: 100%;">
                            </select>
                            <!-- Counter -->
                            <span id="sms-contact" class="email-counter"></span>
                        </div>
                        <span class="text-danger error-message" id="error-multi-select"></span>
                    </div>

                    <!-- SMS Schedule Checkbox -->
                    <div class="mb-3 d-flex align-items-center flex-wrap gap-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="scheduleToggle" checked>
                            <label class="form-check-label" for="scheduleToggle">@MessagingProject.Resources.Resource.SendNow</label>
                        </div>
                    </div>

                    <!-- Scheduled SMS -->
                    <div class="smsScheduledWrapper mb-3" id="smsScheduledWrapper" style="display: none;">
                        <label class="form-label" for="smsScheduledDateTime">@MessagingProject.Resources.Resource.schelduled</label>
                        <div class="form-control" id="smsScheduledDateTime"></div>
                        <span class="text-danger error-message" id="error-smsScheduledDateTime"></span>
                    </div>

                </form>

                <!-- Buttons -->
                <div class="d-flex gap-3 justify-content-between flex-wrap">
                    <button class="btn btn-success d-flex align-items-center justify-content-center btn-responsive gap-2" id="btn-primary" onclick="if (sendSmsValidate()) sendSmsCampaign();">
                        <img src="~/img/icons/send.svg" alt="Send Icon" width="20">
                        @MessagingProject.Resources.Resource.Send
                    </button>
                    <button class="btn btn-primary d-flex align-items-center justify-content-center btn-responsive gap-2" id="btn-success" onclick="if (sendSmsValidate()) saveSmsCampaign();">
                        <img src="~/img/icons/save.svg" alt="Save Icon" width="20">
                        @MessagingProject.Resources.Resource.Save
                    </button>
                </div>

            </div>

            <!-- Phone container -->
            <div class="col-12 col-md-6 bg-white d-flex justify-content-center py-4 position-relative">
                <img src="~/img/src/screen.png" class="img-fluid fixed-phone" alt="Phone Frame" />
                <div id="chat-container" class="position-absolute">
                    <div class="bg-light text-dark p-2 rounded shadow-sm" id="div1" style="border-radius: 35px 35px 35px 55px; word-wrap: break-word; overflow-wrap: break-word; white-space: normal; margin-top: 1em;"></div>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {

    <script src="~/js/campaign-sms-ui.js"></script>
    <script>
       


        const validationTitle = "@MessagingProject.Resources.Resource.ValidationName";
        const validationDescription = "@MessagingProject.Resources.Resource.ValidationDescription";
        const validationAlias = "@MessagingProject.Resources.Resource.ValidationAlias";
        const validationMessage = "@MessagingProject.Resources.Resource.ValidationMessage";
        const validationContacts = "@MessagingProject.Resources.Resource.ValidationContacts";
        const validationScheduled = "@MessagingProject.Resources.Resource.ValidationScheduled";
        

    </script>
    <script src="~/js/campaign-sms-get.js"></script>
    <script src="~/js/sms-counter.js"></script>
    <script src="~/js/sendsms-validation.js"></script>
    <script src="~/js/campaign-sms-save.js"></script>
    <script src="~/js/campaign-sms-send.js"></script>
 


    
}
