<div id="deleteModal" class="modal"
     style="display:none; position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.5);">
    <div class="modal-dialog modal-dialog-centered" >
    <div class="modal-content" style="background:#fff; padding:20px; padding-top:30px; width:90%; max-width:50em; margin:15% auto; border-radius:8px; position:relative; ">
        <span onclick="closeModalDelete()" style="cursor:pointer; position:absolute; top:0px; right:10px; font-size:35px;">&times;</span>
        <h5 class="py-1">@MessagingProject.Resources.Resource.Elem1 <span class="text-name" style="color:gray; font-style:italic; font-weight:bold;"></span> @MessagingProject.Resources.Resource.Elem2</h5>
        <input type="text" id="myName" class="form-control" style="margin-top:2em;" />
        <span id="error-message" class="text-danger" style="display: none; margin-bottom:1em;"></span>
        <div class="row">
            <div class="col-6">
                <label>@MessagingProject.Resources.Resource.Email</label>
                <input type="text" id="emailField" class="form-control" style="margin-bottom:1em;" disabled />
            </div>
            <div class="col-6">
                <label>@MessagingProject.Resources.Resource.Phone</label>
                <input type="text" id="phoneField" class="form-control" style="margin-bottom:1em;" disabled />
                <input type="hidden" id="contactId" />
            </div>
        </div>
        <div class="d-flex justify-content-end py-4 ms-2">
            <button class="btn btn-primary d-flex me-2 align-items-center" onclick="closeModalDelete()">
                <img src="~/img/icons/close.svg" alt="close Icon" width="17" class="me-1">@MessagingProject.Resources.Resource.Close
            </button>
            <button class="btn btn-danger d-flex me-2 align-items-center" onclick="deleteContact()">
                <img src="~/img/icons/trash.svg" alt="trash Icon" width="22" class="me-1">@MessagingProject.Resources.Resource.Delete
            </button>
        </div>
    </div>
    </div>
</div>

<script src="~/js/contact-validation.js"></script>

<script>
     // Delete Modal
       function openModalDelete(e) {
        const id = e.row.data.Id;
        $('#contactId').val(id);
        $.ajax({
            url: '/Contacts/DeleteInfo/' + id,
            type: 'GET',
            success: function(response) {
                console.log(response);

                if (response) {
                    var name = response.name || 'No Name';
                    var email = parseInt(response.emailCount, 10) || 0;
                    var phone = parseInt(response.phoneCount, 10) || 0;


                    $('.text-name').text(name);
                    $('#listName').val('');
                    $('#emailField').val(email);
                    $('#phoneField').val(phone);
                    $('#listName').val(name);

                    $('#deleteModal').show();
                } else {
                    console.error('Invalid response format');
                }
            },
            error: function(xhr, status, error) {
                console.error('Error:', error);
            }
        });
    }

        //Delete contact
    function deleteContact() {
        const enteredName = $('#myName').val().trim();
        const expectedName = $('.text-name').text().trim();

        console.log("Entered Name:", enteredName);
        console.log("Expected Name:", expectedName);

        
        if (enteredName === "") {
            $('#error-message').text(decodeHtmlEntities("@MessagingProject.Resources.Resource.ValidationName")).show();
            return;
        }
        if (enteredName.toLowerCase() !== expectedName.toLowerCase()) {
        $('#error-message').text(decodeHtmlEntities("@MessagingProject.Resources.Resource.ValidationNamValid")).show();
        return;

        }

        const id = $('#contactId').val();
        console.log("Contact ID:", id);

        if (!id) {
            console.error("ID не найден при удалении");
            return;
        }

        $.ajax({
            url: '/Contacts/DeleteContact/' + id,
            type: 'GET',
            success: function(response) {
                if (response && response.ErrorCode === 0) {
                    closeModalDelete();

                    location.reload();
                } else {
                    $('#error-message').text('Ошибка при удалении: ' + response.ErrorMessage).show();
                }
            },
            error: function(xhr, status, error) {
                console.error('Error:', error);
            }
        });
    }


        function closeModalDelete() {
        $('#deleteModal').hide();
    }

       window.onclick = function(event) {
        var deleteModal = document.getElementById("deleteModal");
        var uploadModal = document.getElementById("uploadModal");

        if (event.target === deleteModal) {
            closeModalDelete();
        }

        if (event.target === uploadModal) {
            closeModal();
        }
    };
</script>