
<div id="deleteSingleModal" class="modal"
     style="display:none; position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.5);">
    <div class="modal-content" style="background:#fff; padding:20px; padding-top:30px; width:90%; max-width:50em; margin:15% auto; border-radius:8px; position:relative; ">
        <span onclick="closeDeleteSingleModal()" style="cursor:pointer; position:absolute; top:0px; right:10px; font-size:35px;">&times;</span>
        <h5 class="py-1">@MessagingProject.Resources.Resource.Elem1 <span class="text-name" style="color:gray; font-style:italic; font-weight:bold;"></span> @MessagingProject.Resources.Resource.Elem2</h5>
        <input type="text" id="myName" class="form-control" style="margin-top:2em;" />
        <span id="error-message" class="text-danger" style="display: none; margin-bottom:1em;"></span>
        <div class="row">
            <div class="col-6">
                <label>@MessagingProject.Resources.Resource.Email</label>
                <input type="text" id="emailField" class="form-control" style="margin-bottom:1em;" disabled />
            </div>
            <div class="col-6">
                <label>@MessagingProject.Resources.Resource.Phone</label>
                <input type="text" id="phoneField" class="form-control" style="margin-bottom:1em;" disabled />
                <input type="hidden" id="contactId" />
            </div>
        </div>
        <div class="d-flex justify-content-end py-4 ms-2">
            <button class="btn btn-primary d-flex me-2 align-items-center" onclick="closeDeleteSingleModal()">
                <img src="~/img/icons/close.svg" alt="close Icon" width="17" class="me-1">@MessagingProject.Resources.Resource.Close
            </button>
            <button class="btn btn-danger d-flex me-2 align-items-center" onclick="deleteSingleContact()">
                <img src="~/img/icons/trash.svg" alt="trash Icon" width="22" class="me-1">@MessagingProject.Resources.Resource.Delete
            </button>
        </div>
    </div>
</div>
@* Hidden id's *@
<input type="hidden" id="hiddenModelId" value="@Model.Id" />
<input type="hidden" id="contactId" value="" />

<script>
          function openDeleteSingleModal(e) {
        $('#deleteSingleModal').show();

        const contactId = e.row.data.Id;
        const id = @Model.Id; 

        $.ajax({
            url: `/Contacts/GetSingleContact?id=${id}&contactId=${contactId}`,
            type: 'GET',
            success: function(response) {
                if (response) {
                    $('#contactId').val(response.Id)
                    $('.text-name').text(response.Name || 'No Name');
                    $('#emailField').val(response.Email || 'No email');
                    $('#phoneField').val(response.Phone || 'No phone');


                    $('#deleteSingleModal').show();
                } else {
                    console.error('Контакт не найден');
                }
            },
            error: function(xhr, status, error) {
                console.error('Ошибка:', error);
            }
        });
    }



        function deleteSingleContact() {
        const enteredName = $('#myName').val().trim();
        const expectedName = $('.text-name').text().trim();

        console.log("Entered Name:", enteredName);
        console.log("Expected Name:", expectedName);

        if (enteredName.toLowerCase() !== expectedName.toLowerCase()) {
            $('#error-message').text("Неверное имя! Убедитесь, что вы ввели правильное название.").show();
            return;
        }

        const id = $('#hiddenModelId').val(); 
        const contactId = $('#contactId').val(); 

        console.log("List ID:", id);
        console.log("Contact ID:", contactId);

        if (!id || !contactId) {
            console.error("ID не найден при удалении");
            return;
        }

        $.ajax({
            url: `/Contacts/DeleteSingleContact?id=${id}&contactId=${contactId}`,
            type: 'GET',
            success: function(response) {
                if (response && response.ErrorCode === 0) {
                    closeDeleteSingleModal();
                    location.reload();
                } else {
                    $('#error-message').text('Ошибка при удалении: ' + response.ErrorMessage).show();
                }
            },
            error: function(xhr, status, error) {
                console.error('Error:', error);
                alert('Произошла ошибка при удалении контакта.');
            }
        });
    }


   
    function closeDeleteSingleModal(){
        $('#deleteSingleModal').hide();
    }
    window.onclick = function(event) {
        var deleteModal = document.getElementById("deleteSingleModal");

        if (event.target === deleteModal) {
            closeModalDelete();
        }
    };
    
</script>