
@model TemplateResponseModel
@{
    ViewData["Title"] = "Email";
    Layout = "_Layout";

}
<div class="container py-0 md-py-0">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 p-0 " style="background:none;border:0px;">
            <h1 style="font-weight:600;">@MessagingProject.Resources.Resource.EmailTemplateList</h1>
        </div>
        <div class="col-12 col-md-10 ms-3 p-3 mb-2 me-3" style="background:white !important;">
            <button class="dx-button dx-widget dx-button-mode-contained dx-button-default d-flex justify-content-between" id="createTemplateButton">
                <span class="dx-button-content me-2">
                    <i class="dx-icon dx-icon-edit me-1" style="font-size: 20px;"></i>
                    @MessagingProject.Resources.Resource.Create
                </span>
            </button>
        </div>
        @foreach(var template in Model.Templates)
        {
            <div class="col-12 col-md-3 bg-white my-2 me-3 p-1 ms-3 mb-3 card-hover">
                <div class="d-flex flex-column p-2" style="height: 100%;">

                    <!-- Card img -->
                    <div class="card-wrapper d-flex align-items-center justify-content-center p-2" style="flex-grow: 1;">
                        <div class="card mb-2" style="border: none; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;">
                            <img src="@template.ImageTemplate" class="img-fluid" style="max-width: 100%; max-height: 100%; object-fit: contain;" />
                        </div>
                    </div>

                    <!-- Text -->
                    <h5 class="text" style="word-wrap: break-word; overflow: hidden; text-overflow: ellipsis; white-space: normal;">@template.Name</h5>
                    <span class="text mb-2" style="word-wrap: break-word; overflow: hidden; text-overflow: ellipsis; white-space: normal;">@template.Subject</span>

                    <!-- Buttons -->
                    <div class="d-flex justify-content-between align-items-end gap-2 mt-auto">
                        <button type="submit" class="dx-button dx-widget dx-button-mode-contained dx-button-default w-75" style="height:40.5px !important;" onclick="SendEmail(@template.Id)">
                            <span class="dx-button-content d-flex justify-content-center align-items-center" style="font-size:16px;">
                                <img src="~/img/icons/mail-white.png" class="me-2" width="22" />
                                @MessagingProject.Resources.Resource.Send
                            </span>
                        </button>

                        <div class="dx-button dx-widget dx-button-mode-contained dx-button-default w-25" style="height:40.5px !important;">
                            <a class="btn dropdown-toggle d-flex align-items-center justify-content-center w-100 h-100"
                               href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                               style="color:white !important; font-size:20px; padding: 0; margin-right:8px;">
                                <i class="fas fa-ellipsis-v" style="color:white !important;"></i>
                            </a>

                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" href="/Email/UpdateTemplate/@template.Id">Редактировать</a></li>
                                <li><a class="dropdown-item" onclick="createDuplicate('@template.Id','@template.Name','@template.Subject','@template.ImageTemplate','@template.Body','@template.BodyJson')">Создать дубликат</a></li>
                                <li>
                                    <a class="dropdown-item" onclick="openDeleteTemplateModal('@template.Id','@template.Name','@template.Subject','@template.ImageTemplate')">Удалить</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            @await Html.PartialAsync("Email/_TemplateDeleteModal")
        }
    
    </div>
</div>

@await Html.PartialAsync("Email/_CreateDuplicateTemplate")
<script>
    function SendEmail(id){
                window.location.href = "/Email/SendEmail?Id="+id;

    }

    $('#createTemplateButton').on('click', function () {
        window.location.href = "/Email/UpdateTemplate";
    });
</script>
