@{
    Layout = "_Layout";

}

<div class="container-fluid py-3 d-flex flex-column">
    <div class="row justify-content-center">

        <div class="col-lg-5 col-md-8 col-sm-12 p-4 bg-white rounded shadow-sm mx-3 mb-4">
            <h2 style="font-weight:600;">@MessagingProject.Resources.Resource.SMS</h2>
            <span style="font-size:25px;">@MessagingProject.Resources.Resource.Month</span>
            @(  Html.DevExtreme().Chart()
                                .Rotated(true)
                                .ID("chartContainerMonthSMS")
                                .DataSource(ds => ds.Mvc()
                                .Controller("Dashboard")
                                .LoadAction("GetByMonthInfoSMS")
                                )
                                .ValueAxis(axis =>
                                {
                                    axis.Add().Label(l => l.Visible(false)); 
                                })
                                .ArgumentAxis(axis =>
                                {
                                    axis.Label(l => l.Visible(true)); 
                                })
                                .Series(s => s.Add()
                                .Type(SeriesType.Bar)
                                .ArgumentField("Category")
                                .ValueField("Value")
                                .Label(l => l
                                .Visible(true)
                                .BackgroundColor("#ff6347")
                                .CustomizeText("function(info) { return info.valueText; }")
                                .Font(f => f.Color("white").Weight(700))
                                )
                                )
                                .CustomizePoint(@<text>
                function(pointInfo) {
                return { color: pointInfo.data.Color };
                }
            </text>)
                                .Legend(legend => legend.Visible(false))
                                .Export(export => export
                                .Enabled(true)
                                .Formats(new List<DevExtreme.AspNet.Mvc.ExportFormat>
            {
            DevExtreme.AspNet.Mvc.ExportFormat.JPEG,
            DevExtreme.AspNet.Mvc.ExportFormat.PNG,
            DevExtreme.AspNet.Mvc.ExportFormat.PDF,
            DevExtreme.AspNet.Mvc.ExportFormat.SVG
            })
                                )
                                )

        </div>

        <div class="col-lg-5 col-md-8 col-sm-12 p-4 bg-white rounded shadow-sm mx-3 mb-4">
            <h2 style="font-weight:600;">@MessagingProject.Resources.Resource.Email</h2>
            <span style="font-size:25px;">@MessagingProject.Resources.Resource.Month</span>
            @(Html.DevExtreme().Chart()
                                .Rotated(true)
                                .ID("chartContainerMonthEmail")
                                .DataSource(ds => ds.Mvc()
                                .Controller("Dashboard")
                                .LoadAction("GetByMonthInfo")
                                )
                                .Series(s => s.Add()
                                .Type(SeriesType.Bar)
                                .ArgumentField("Category")
                                .ValueField("Value")
                                .Label(l => l
                                .Visible(true)
                                .BackgroundColor("#ff6347")
                                .CustomizeText("function(info) { return info.valueText; }")
                                .Font(f => f.Color("white").Weight(700))
                                )
                                )
                                .CustomizePoint(@<text>
                function(pointInfo) {
                return { color: pointInfo.data.Color };
                }
            </text>)
                                .Legend(legend => legend.Visible(false))
                                .Export(export => export
                                .Enabled(true)
                                .Formats(new List<DevExtreme.AspNet.Mvc.ExportFormat>
            {
            DevExtreme.AspNet.Mvc.ExportFormat.JPEG,
            DevExtreme.AspNet.Mvc.ExportFormat.PNG,
            DevExtreme.AspNet.Mvc.ExportFormat.PDF,
            DevExtreme.AspNet.Mvc.ExportFormat.SVG
            })
                                )
                                )
        </div>

    </div>
</div>

<div class="container-fluid d-flex flex-column">
    <div class="row justify-content-center">

        <div class="col-lg-5 col-md-8 col-sm-12 p-4 bg-white rounded shadow-sm mx-3 mb-4 ">
            <span style="font-size:25px;">@MessagingProject.Resources.Resource.Week</span>
            <div class="my-3">
                @(
                            Html.DevExtreme().Chart()
                            .ID("chartEmailWeek")
                            .DataSource(ds => ds.Mvc()
                            .Controller("Dashboard")
                            .LoadAction("GetByWeekInfoSMS")
                            )
                            .ValueAxis(axis =>
                            {
                                axis.Add().Label(l => l.Visible(false)); 
                            })
                            .ArgumentAxis(axis =>
                            {
                                axis.Label(l => l.Visible(true)); 
                            })
                            .Series(s => s
                            .Add()
                            .ArgumentField("Category")
                            .ValueField("Value")
                            .Type(SeriesType.Bar)
                            .Name(MessagingProject.Resources.Resource.Week)
                            .Color("#66CDAA")
                            .Label(l => l
                            .Visible(true)
                            .BackgroundColor("#ff6347")
                            .CustomizeText("function(info) { return info.valueText; }")
                            .Font(f => f.Color("white").Weight(700))
                            )
                            )
                            )
            </div>


        </div>

        <div class="col-lg-5 col-md-8 col-sm-12 p-4 bg-white rounded shadow-sm mx-3 mb-4 ">
            <span style="font-size:25px;">@MessagingProject.Resources.Resource.Week</span>
            <div class="my-3">
                @(
                    Html.DevExtreme().Chart()
                            .ID("chartSMSWeek")
                            .DataSource(ds => ds.Mvc()
                            .Controller("Dashboard")
                            .LoadAction("GetByWeekInfo")
                            )
                            .ValueAxis(axis =>
                            {
                                axis.Add().Label(l => l.Visible(false));
                            })
                            .ArgumentAxis(axis =>
                            {
                                axis.Label(l => l.Visible(true));
                            })
                        .Series(s => s
                        .Add()
                        .ArgumentField("Category")
                        .ValueField("Value")
                        .Type(SeriesType.Bar)
                        .Name(MessagingProject.Resources.Resource.Week)
                        .Color("#66CDAA")
                    .Label(l => l
                    .Visible(true)
                    .BackgroundColor("#ff6347")
                    .CustomizeText("function(info) { return info.valueText; }")
                    .Font(f => f.Color("white").Weight(700))
                    )
                    )
                    )
            </div>


        </div>

    </div>
</div>

