
@{
    Layout = "_AuthLayout";
}

<div class="container">
    <div class="row">

        <div class="col-md-12 my-4">
            <h2>@MessagingProject.Resources.Resource.Resetpassword</h2>


            <form asp-action="ResetPassword" asp-controller="Auth" method="post">
                <div class="form-group my-3">
                    <p class="text-center my-1">@MessagingProject.Resources.Resource.EmailRequset</p>
                    
                    <input type="email" name="email" class="form-control"/>
                </div>


                <div class="form-group my-3">
                    <input type="submit" name="submit" class="btn btn-primary w-100"style="color:white!important;" value="@MessagingProject.Resources.Resource.SendRequest">
                </div>

            </form>
        </div>
    </div>
</div>

@if (string.IsNullOrEmpty(ViewBag.ErrorMessage=null))
{
    <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="errorModalLabel" style="color:red; font-weight:600;">@MessagingProject.Resources.Resource.Errror</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body d-flex flex-column justify-content-center">
                    <div class="d-flex justify-content-center">
                        <img src="~/img/icons/errorMessage.png" asp-append-version="true" style="width:80%;" />
                    </div>
                    <h1 class="text-center">@Html.Raw(ViewBag.ErrorMessage)</h1>
                    <p class="text-center mt-2">Closing in <span id="timer">5</span> seconds...</p>
                </div>
            </div>
        </div>
    </div>
}